# --- Python ---
venv/               # Virtual environment (always ignore)

# --- C/C++ ---
*.exe
*.o
*.out
*.a
*.so
c/build/            # Your C build directory

# --- Data ---
data/processed/     # Ignore processed/generated data (keep raw/)
*.csv~              # Temporary data files

# --- Latex --

*.aux
*.log
*.pdf

# IDE 

.vscode/