# --- Python ---
.venv/               # Virtual environment (always ignore)
.venv
venv/

# Build and distribution files
dist/
build/
*.egg-info/

# Python cache (optional but recommended)
__pycache__/

# Jupyter Notebooks
notebooks/*.ipynb
notebooks/*.csv
python/*csv
!notebooks/template.ipynb
!notebooks/final_*.ipynb

# --- C/C++ ---
*.exe
*.o
*.out
*.a
*.so
c/build/            # Your C build directory

# --- Data ---
data/processed/     # Ignore processed/generated data (keep raw/)
*.csv~              # Temporary data files

# --- Latex --

*.aux
*.log
*.pdf

# IDE 

.vscode/
