# --- Python ---
venv/               # Virtual environment (always ignore)
.Python
build/
*.egg-info/
.ipynb_checkpoints/  # Jupyter notebooks cache

# --- C/C++ ---
*.o
*.out
*.a
*.so
c/build/            # Your C build directory

# --- Data ---
data/processed/     # Ignore processed/generated data (keep raw/)
*.csv~              # Temporary data files

# --- Latex --

*.aux
*.log
*.pdf

# IDE 

.vscode/